.a{
	text-decoration:none;
}

#home-main{
	position:absolute;
	left: 0%;
	right: 0%;
    top:0%;
    bottom:0%;
    width:100%;
    height:100%;
	text-align:center;
	padding-top: 15%;
    /*Try different colors for top line*/
    /*border-top: solid 2px #0489B1;*/
    border-top: solid 4px #2CCCBC;
    z-index:20;
    max-height: 500px;
}
#home-image{
    position:relative;
    top:-100px;

}
#logo-banner{
    position:relative;
    top:-100px;
    width:100%;
}
.popup{
    position:absolute;
    border:solid 2px #2CCCBC;
    background-color:#EFEBD4;
    height:250px;
    width:700px;
    z-index:200;
    top: 0;
    left: 0;
    bottom:10%;
    right: 0;
    margin:auto;
    text-align: center;
    padding: 10px, 20px, 20px, 20px; 
    
}
.title{
    font-size:225%;
}
.popup-text{
    font-size:160%;
}
#kid-library{
    position:absolute;
    /*left:5%;*/
    /*top:500px;*/
    top:25px;
    left:100px;
    font-size: 160%;
}
#parent-library{
    position:absolute;
    top:25px;
    right:100px;
    font-size: 160%;
    color: #FFF;

}

