#main-frame{
	position:absolute;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	width:100%;
	height:auto;
	max-height: 700px;
	text-align:center;
	border-top: solid 4px #2CCCBC;
    
}

#library-div{
	position:relative;
	top:100px;
	left:50px;
	right:50px;
	width:1300px;
	height: 600px;
	padding: 25px 10px 25px 10px;
	border:2px solid #888888;
	box-shadow: 0 0 10px #AAAAAA;
	background-color: #FFF9FB;
	/*background-image: url('../../graphics/white_wall.png');*/
}
body{
	background-color:#DDDDDD; 
}
.top {z-index: 2; position: relative; background-color: yellow;}
.bottom {z-index: 1; position: relative}
.a{
	text-decoration:none;
}
.book-image{
	box-shadow: 0 0 10px #AAAAAA;
	cursor:pointer;
}
.selected{
	background:yellow;
}
.unselected{
	background:white;
}
#order-button{
	right:95px;   
}
#random-button{
	right: 212px;
}
.book-popup{
	position:absolute;
    border:solid 1px #2CCCBC;
    background-image: url('../../graphics/rainbows.png');
    height:650px;
    width:1000px;
    z-index:200;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    margin:auto;
    text-align: center;
    padding: 10px, 20px, 20px, 20px; 
}
#book-cover{
	/*background-image: url('../../graphics/GivingTree.jpg');*/
	height:100%;
	width:auto;
}
#play-button{
	position:absolute;
	width:100px;
	height:auto;
	bottom:50px;
	right:80px;
	cursor: pointer;
}

#mybook {
	position: relative;
	margin: auto;
	/*top: 50%; left: 50%;*/

}

.reader{
	position:absolute;
	width:70px;
    height:70px;
    left: 120px;
    background-color: #DDD;
    opacity: 0.6;
}
#reader1{
	bottom: 60px;
}
#reader2{
	bottom:200px;
}