
#library-div{
	
	/*background-image: url('../../graphics/white_wall.png');*/
}
body{
	background-color:#DDDDDD; 
}
.top {z-index: 2; position: relative; background-color: yellow;}
.bottom {z-index: 1; position: relative}
.a{
	text-decoration:none;
}
.book-image{
	box-shadow: 0 0 10px #AAAAAA;
	cursor:pointer;
}
.selected{
	background:yellow;
}
.unselected{
	background:white;
}
#order-button{
	right:95px;   
	width:98px;
}
#random-button{
	right: 215px;
	width:120px;
}
.book-popup{
	position:absolute;
    border:solid 1px #2CCCBC;
    background-image: url('../../graphics/rainbows.png');
    height:400px;
    width:1000px;
    z-index:200;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    margin:auto;
    text-align: center;
    padding: 100px 20px 120px 20px; 

}
#book-cover{
	/*background-image: url('../../graphics/GivingTree.jpg');*/
	height:100%;
	width:auto;
}
#play-button{
	position:relative;
	width:80px;
	height:auto;
	top:20px;
	cursor: pointer;
}

#mybook {
	position: relative;
	margin: auto;
	height:650px;
	width:800px;
	/*top: 50%; left: 50%;*/


}

.reader{
	position:absolute;
	width:70px;
    height:70px;
    left: 120px;
    background-color: #DDD;
    opacity: 0.6;
}
#reader1{
	bottom: 60px;
}
#reader2{
	bottom:200px;
}
.audio-controls{
	display:none;
}