
#library-div{
	
	/*background-image: url('../../graphics/white_wall.png');*/
}
body{
	background-color:#DDDDDD; 
}
ul
{
    list-style-type: none;
}
.top {z-index: 2; position: relative; background-color: yellow;}
.bottom {z-index: 1; position: relative}
.a{
	text-decoration:none;
}
.book-image{
	box-shadow: 0 0 10px #AAAAAA;
	cursor:pointer;
	opacity:0;
}
.random-mode{
	position:absolute;
}
.ordered-mode{
	position:relative;
}
.selected{ background:yellow; }
.unselected{ background:white; }
.bigger{
	height:250px;
	width:auto;
}
.smaller{
	height:200px;
	width:auto;
}
.grid{
	background-color: transparent;
	padding:20px 0px 0px 0px;
	z-index: 120;
}
#order-button{
	right:95px;   
	width:95px;
}
#random-button{
	right: 225px;
	width:95px;
}
.book-text {
	position: absolute;
	height:100%;
	font-size:16pt;
}

#book-cover{
	/*background-image: url('../../graphics/GivingTree.jpg');*/
	height:100%;
	width:auto;
}
#play-button{
	position:absolute;
	width:80px;
	height:auto;
	/*top:20px;*/
	bottom: 19px;
	left: 240px;
	cursor: pointer;
}
#restart-button{
	position:absolute;
	width:80px;
	height:auto;
	/*top:15px;*/
	bottom: 19px;
	left: 130px;
	cursor: pointer;
}

#mybook {
	position: relative;
	margin: auto;
	height:650px;
	width:800px;
	/*top: 50%; left: 50%;*/
}

.reader{
	position:absolute;
	width:80px;
    height:auto;
    bottom: 17px;
}
#reader1{
	right: 130px;
}
#reader2{
	right: 240px;
}
.current-reader{
	opacity:1;
}
.other-reader{
	opacity:0.5;
	cursor:pointer;
}
.audio-controls{
	display:none;
}
.ordered-frame{
	display:none;
}